
body {
   padding: 40px;
   color: #7e8184;
   font-family: 'Lato', sans-serif;
}

#container {
   margin: 0 auto;
   max-width: 580px;
}

header {
   text-align: center;
}

header h1 {
   border-bottom: 1px solid #555;
   font-size: 40px;
   font-family: 'Oswald', sans-serif;
   margin-bottom: 0px;
   color: #555;
}	

header p {
   margin-top: 5px;
   margin-bottom: 30px;
}

footer {
   border-top: 1px solid #555;
   text-align: center;
   font-size: 10px;   
   padding-top: 40px;
}

a {
   color: #3d7cc6;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
   color: #76aeed;
}	
